go 1.19

use (
	./services/analytics
	./services/assessment
	./services/auth
	./services/certification
	./services/content
	./services/course
	./services/discussion
	./services/enrollment
	./services/notification
	./services/search
	./services/tenant
	./services/user
	./shared
)
